{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Отзывы</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'main/css/main5.css'%}">
      
  
        
    </head>
    <body>
   
        <div class="features">

            <h3 class="display-1">Оставьте свой след!</h3>
        </div>

        <form method="post" class="form01">
            {% csrf_token %}
            {{c_form.name}} <br>
            {{c_form.surname}} <br>
            {{c_form.content}} <br>
            {{c_form.choice}} <br> <br>
            

            <span>{{error}}</span>
            <button class="btn btn-success" type="submit">Отправить</button> <br>

        </form>
        <a href="{%url 'visitorstartpage'%}">
            <button class="btn btn-warning" style='margin-top: 30px;'>На главную</button>
        </a>
    

    
    </body>
  
    </html>
        