<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Добавьте отзыв!</title>
        
    </head>
    <body>
  
        <h1>Добавление статьи</h1>
        <form method="post">
            {% csrf_token %}
            {{form.titl}} <br>
            {{form.shorttitle}} <br>
            {{form.content}} <br>
            {{form.issued}} <br>
            <span>{{error}}</span>

      
            <button type="submit">Добавить блог</button>



        </form>
       
    </body>
  
</html>