{%extends 'main/layout.html'%}
{%load static%}
        {%block title%}Услуги {%endblock%}
      
    {%block content%}

                
                    <img src="{% static 'main/img/pngegg (5).png'%}" style="height: 415px;
                    width: 695px;
                    margin-top: -80px;">
                
       
           
                <table class="tab" cellpadding="6" cellspacing="4" border="2" style='margin-top: -150px;'>
                    <tr class="th" style='font-size: 20px;'>
                        <th>Фамилия</th>
                        <th>Имя</th>
                        <th>Вид питомца</th>
                        <th>Почта</th>                        
                        <th>Время</th>
                    </tr>
                    {%for el in visit%}
                    
                    <tr class="td">
                        <td>{{el.title}}</td>
                        <td>{{el.surname}}</td>
                        <td>{{el.option}}</td>
                        <td>{{el.email}}</td>  
                        <td>{{el.time}}</td>
                        
                        
                        
                        
                    </tr>
                      
                        
                    {%endfor%}    
                        

                </table>
              
            
     
                 
    {%endblock%}
