.form {width: 700px; padding-left:100px; margin-top: 50px; color: white;}
.form h6{  margin-top: 20px;
    font-size: 20px;}
.logotype {margin-left: 120px; }
body {background: url("video.mp4.gif")}
a {padding-left: 100px; size: 50px;}

