.all div.content{position:absolute; }
.image img{
    margin:20px; width: 150px;height: 150px; transition: all .6s ease; float: left;
}
.image img:hover {
    margin:20px; width: 170px;height: 170px; transform: scale(1.05); float:left}
.content  {
     margin-top: -170px; padding-left: 1400px; width:700px; height:500px; font-size:10px; 
}



.logotype {margin-left: 600px;}

.form {width: 1200%; margin-top: 20px; margin-left: 30%; padding-left: 50px;}
.all div.but {background-color: red;
    height: 1007px;
    width: 359px;
    margin-left: 605px;
    margin-top: -879px;}