.form01 {width: 700px; padding-left:100px; margin-top: 50px; color: white;}


body {background: url("water.gif")}
a {padding-left: 100px; size: 50px; }
.display-1 {font-size:50px;text-align:justify; padding-left: 90px;color:antiquewhite}
