.but, .but01, .but02, .but03, .but04{
    height: 80px;
        width: 359px;
        margin-left: 605px;
        margin-top: -879px;
}
.but01 { 
    margin-top: 70px;}
.but02 { 
    margin-top: 100px;}
.but03 {
    margin-top: 150px;}
.but04{
        margin-top: 130px;}
.doctors {position: absolute;
   }
.png_doc {width: 317px;
    height: 260px;
    float: right;
    margin-bottom: -3px;
    margin-top: 426px;}

    